* {
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

body, html {
    height: 100%;
}

.container {
    height: 100%;
    transition: .4s;
}

.nav-bar {
    background: aquamarine;
    height: 40px;
}

.switch {
    height: 20px;
    width: 20px;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    position: relative;
}

input {
    appearance: none;
    background: #ddd;
    height: 20px;
    width: 50px;
    border-radius: 15px;
    transition: .4s;
}

input:checked {
    background: #333;
}

input:before {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    background: white;
    border-radius: 50%;
    top: -5px;
    left: -5px;
    transition: .4s;
}

input:checked:before {
    transform: translateX(30px);
    background: #000;
}

.content {
    width: 350px;
    text-align: center;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    transition: .4s;
}

.content h1 {
    padding: 15px;
    transition: .4s;
}

.content p {
    padding: 30px;
    font-size: 24px;
    transition: .4s;
}

.center {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}